html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding: 15px;
}

.gallery1 {
    grid-column: span 16;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;

}

.item1 {
    grid-column: span 6;
    grid-row: span 1;
}

.item2 {
    grid-column: span 5;
    grid-row: span 1;
}

.item3 {
    grid-column: span 5;
    grid-row: span 1;
}

.gallery2 {
    grid-column: span 4;
    grid-row: span 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40px;
    grid-gap: 10px;

}

.item4 {
    grid-column: span 4;
    grid-row: span 5;
}

.item5 {
    grid-column: span 4;
    grid-row: span 11;
}

.gallery3 {
    grid-column: span 8;
    grid-row: span 5;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 40px;
    grid-gap: 10px;
}

.item6 {
    grid-column: span 8;
    grid-row: span 4;
}

.item7 {
    grid-column: span 8;
    grid-row: span 12;
}

.gallery4 {
    grid-column: span 4;
    grid-row: span 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40px;
    grid-gap: 10px;
}

.item8 {
    grid-column: span 4;
    grid-row: span 2;
}

.item9 {
    grid-column: span 4;
    grid-row: span 7;
}

.item10 {
    grid-column: span 4;
    grid-row: span 7;
}

.gallery5 {
    grid-column: span 16;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;
}

.item11 {
    grid-column: span 10;
    grid-row: span 1;
}

.item12 {
    grid-column: span 4;
    grid-row: span 1;
}

.item13 {
    grid-column: span 2;
    grid-row: span 1;
}

@media screen and (max-width:760px) {
    .gallery {
        /*       display: flex; flex-direction: column;*/
    }

    .gallery1 {
        grid-template-columns: 1fr
    }

    .gallery2 {
        grid-column: span 16;
        grid-row: span 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        grid-gap: 10px;

    }

    .gallery3 {
        grid-column: span 16;
        grid-row: span 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        grid-gap: 10px;
    }

    .gallery4 {
        grid-column: span 16;
        grid-row: span 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        grid-gap: 10px;
    }

    .gallery5 {
        grid-template-columns: 1fr
    }

    .item1 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item2 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item3 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item4 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item5 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item6 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item7 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item8 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item9 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item10 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item11 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item12 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item13 {
        grid-column: span 1;
        grid-row: span 2;
    }
}
